<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shop update</title>
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav.html::navbar}"></div>
<form th:action="|/update/${item.getId()}|" method="post">
  <input name="title" th:value="${item.getTitle()}">
  <input name="price" th:value="${item.getPrice()}">
  <button type="submit">수정</button>
</form>
</body>
</html>